
@{
    ViewData["Title"] = "Index";
}

<h2>נא להכניס את כל הטפסים הרלוונטים עבורכם</h2>
<ul>
    <li>אישור על שירות צבאי/אזרחי /לאומי /פטור </li>
    <li>אישור על מגבלות רפואיות</li>
    <li>אישור מהמדור לסיוע לחיילים בודדים של משרד הבטחון</li>
    <li>צירוף צילום תעודות זהות של ההורים - חובה</li>
    <li>ניתן לצרף מכתב אישי - רשות</li>
    <li>
        פרטים על הכנסת הורים על פי הטבלה הבאה:
    </li>
</ul>
    <div class="col-md-4">
        <img src="~/images/parentincome.jpg" />
    </div>
   
<br />


<form name="form" action="/Uploadmultiple" enctype="multipart/form-data" method="post">
    <input id="files" name="files" type="file" multiple onchange="fileupload('files');" />

</form>
<script>
    function fileupload(filename) {
        var inputfile = document.getElementById(filename);
        var files = inputfile.files;
        var fdata = new FormData();
        for (var i = 0; i != files.length; i++) {
            fdata.append("files", files[i]);

        }
        $.ajax(
            {
                url: "/Uploadmultiple",
                data: fdata,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    alert("הקבצים העלאו בהצלחה");

                }

            }
        );

    }

</script>
