
<ul>
    @{
        foreach (string u in ViewBag.url)
        {
            var  i= 0;
            @u
            <li> <a href="~@u" target="_blank">  @i קובץ </a></li>
            i++;
        }
    }
</ul>
<a href="~/Upload/מבוא למסדי נתונים - הרצאה 10 - שילוב SQL ב-Java -    405000.PDF" target="_blank"> ddה ff</a>
