
<ul>
    @{

        var a = "הה.jpg";
        foreach (string u in ViewBag.url)
        {
            var name = u;
            var i = 0;



            <li> <a href="~/Files/" target="_blank">  @i קובץ </a></li>
            i++;
        }
        <li> <a href="~/Files/@a" target="_blank">  קובץ </a></li>
        <li> <a href="~/Upload/הה.jpg" target="_blank">  kvkvkvk </a></li>
    }
</ul>
<a href="~/Files/contract.pdf" target="_blank"> ddה ff</a>
