@model Maonot_Net.Models.Message

@{
    ViewData["Title"] = "Create";
    var a = ViewBag.Aut;

    if (a.Equals("1"))
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }
    else if (a.Equals("2"))
    {
        Layout = "~/Views/Shared/Manger.cshtml";
    }
    else if (a.Equals("3"))
    {
        Layout = "~/Views/Shared/HouseKeep.cshtml";
    }
    else if (a.Equals("4"))
    {
        Layout = "~/Views/Shared/Discipline.cshtml";
    }
    else if (a.Equals("5"))
    {
        Layout = "~/Views/Shared/Culture.cshtml";
    }
    else if (a.Equals("6"))
    {
        Layout = "~/Views/Shared/Security.cshtml";
    }
    else if (a.Equals("7"))
    {
        Layout = "~/Views/Shared/Visitor.cshtml";
    }
    else if (a.Equals("8"))
    {
        Layout = "~/Views/Shared/Candidate.cshtml";
    }
    else if (a.Equals("9"))
    {
        Layout = "~/Views/Shared/Tenant.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/NotUser.cshtml";
    }
}

<h2>יצירת הודעה חדשה</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Addressee" class="control-label"></label>
                @* <input asp-for="Addressee" class="form-control" /> *@
                <select asp-for="Addressee" class="form-control" asp-items="ViewBag.users"></select>
                <span asp-validation-for="Addressee" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="שליחה" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">חזרה דואר נכנס</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
