@model Maonot_Net.Models.FaultForm
@{
    ViewData["Title"] = "Fix";
    Layout = "~/Views/Shared/HouseKeep.cshtml";
}


<h3>  האם את/ה מאשר/ת כי התקלה תוקנה? </h3>
<form asp-controller="FaultForms" asp-action="Yes">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">

        <input type="hidden" name="id" id="id" value=" @Html.DisplayFor(model => model.ID)" />

    </div>

    <div class="form-group">
        <input type="submit" value="אישור" class="btn btn-success" />
    </div>
</form>