
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Manger.cshtml";
    ApprovalKit a = ViewBag.app;
    @model Maonot_Net.Models.Assigning
}
<h4>Assigning</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StundetId" class="control-label"></label>
                <input asp-for="StundetId" class="form-control" />
                <span asp-validation-for="StundetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApartmentNum" class="control-label"></label>
                <select asp-for="ApartmentNum" class="form-control" asp-items="ViewBag.ap"></select>
                <span asp-validation-for="ApartmentNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="שמירה" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">בחזרה לרשימה</a>
</div>

