@model Maonot_Net.Models.Assigning

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Manger.cshtml";
}

<h2>מחיקה</h2>

<h3>האם למחוק את השיבוץ?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            תעודת זהות
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StundetId)
        </dd>
        <dt>
           מספר דירה
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApartmentNum)
        </dd>
        <dt>
            מספר חדר
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="מחיקה" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-default">בחזרה לרשימה</a>
    </form>
</div>
