@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/NotUser.cshtml";
}


<div class="jumbotron">
    <h1 dir="rtl">מעונות עמק יזרעאל </h1>
    <p class="lead" dir="rtl">
        מעונות הסטודנטים של האקדמית עמק יזרעאל, ממוקמים בכניסה הצפונית של העיר עפולה בסמוך לכביש המוביל למכללה ולעיר.
        המיקום המצויין של המעונות קרוב למרכזי פעילות, כגון: היכל התרבות, הקאנטרי קלאב, מועדון הטניס, מגרשי הספורט ומרכזי הקניות.

        במעונות מבני ציבור הכוללים: חדר כביסה, 2 חדרי מחשבים, מכולת, תאי דואר ומועדון בו מתקיימות פעילויות חברתיות ואירועי תרבות תוססים ומעניינים.
        לנוחיות הסטודנטים מתקיימות הסעות מהמעונות למכללה וחזרה.
    </p>
    <p><a href="https://www.yvc.ac.il/%D7%A9%D7%99%D7%A8%D7%95%D7%AA-%D7%9C%D7%A1%D7%98%D7%95%D7%93%D7%A0%D7%98%D7%99%D7%9D/%D7%9E%D7%A2%D7%95%D7%A0%D7%95%D7%AA/" class="btn btn-primary btn-lg" dir="rtl">למד עוד &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>
            In order to use the full site you must
            register first, if you are a member allready please
            move to the <b>log in</b>.
        </p>
        <p class="btn btn-default"> @Html.ActionLink("הירשמ/י", "Create", "Users")</p>
    </div>
    <div class="col-md-4">
        <h2>Log In</h2>
        <p>If you allready a member please <b>log in</b></p>

        <br />
        <p class="btn btn-default"> @Html.ActionLink("התחבר/י", "LogIn", "Users")</p>
    </div>
    <div class="col-md-4">
        <img src="~/images/Logo.png" />
    </div>
</div>

