@model Maonot_Net.Models.User
@{
    ViewData["Title"] = "NotAut";
    Layout = "~/Views/Shared/NotUser.cshtml";
}

<h2>משתמש יקר</h2>
<h3>הגעת לעמוד שאינך מורשה לגשת אליו</h3>
    <a asp-action="Wellcome">חזרה לאזור האישי</a>
