@model IEnumerable<Maonot_Net.Models.Authorization>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>
               קוד הרשאה
            </th>
            <th>
               שם הרשאה
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AutName)
            </td>


            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">פרטים</a> 
      
            </td>
        </tr>
}
    </tbody>
</table>
