
@{
    ViewData["Title"] = "Index_2";
    Layout = "~/Views/Shared/Visitor.cshtml";
  
}



<h2>העאלת קבצים</h2>

<h2>נא להכניס את כל הטפסים הרלוונטים עבורכם</h2>
<ul>
    <li>אישור על שירות צבאי/אזרחי /לאומי /פטור </li>
    <li>אישור על מגבלות רפואיות</li>
    <li>אישור מהמדור לסיוע לחיילים בודדים של משרד הבטחון</li>
    <li>צירוף צילום תעודות זהות של ההורים - חובה</li>
    <li>ניתן לצרף מכתב אישי - רשות</li>
    <li>
        פרטים על הכנסת הורים על פי הטבלה הבאה:
    </li>
</ul>
<div class="col-md-4">
    <img src="~/images/parentincome.jpg" />
</div>

<br />

<form asp-controller="FileUpload" asp-action="UploadFiles" method="post"
      enctype="multipart/form-data">

    <input type="file" name="files" multiple />
    <br />
    <button type="submit">Upload File</button>
</form>