
@{
    ViewData["Title"] = "Index";
}

<h2>העלאת קובץ</h2>

<form asp-controller="FileUpload" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">

    <input type="file" name="file" />
    <button type="submit">העלאת קובץ</button>
</form>