
@{
    ViewData["Title"] = "SeeFiles";

}

<h2></h2>

<ul>
    @{

        int i = 1;
        foreach (string u in ViewBag.url)
        {
            var name = u.Substring(10);

            <li> <a href="~/@name" target="_blank">    קובץ מספר @i : @name </a></li>
            i++;
            <a asp-action="Delete" asp-route-id="@u">Delete</a>
            @Html.ActionLink("מחיקת קובץ", "Delete", new { File = @u })
        }

    }
</ul>
