
@{
    ViewData["Title"] = "SeeFiles";
    var a = ViewBag.Aut;
    if (a.Equals("2"))
    {
        Layout = "~/Views/Shared/Manger.cshtml";
    }
    else if (a.Equals("8"))
    {
        Layout = "~/Views/Shared/Visitor.cshtml";
    }

}

<h2>הקבצים שהועלו</h2>

<ul>
    @{

        int i = 1;
        foreach (string u in ViewBag.url)
        {
            var name = u.Substring(10);

            <li> <a href="~/@name" target="_blank" >    קובץ מספר @i : @name </a></li>
            if (a.Equals("8"))
            {
                @Html.ActionLink("מחיקת קובץ", "Delete", new { File = @u })
            }
            i++;
            
        }

    }
</ul>
