@model Maonot_Net.Models.Registration

@{
    ViewData["Title"] = "App";
    Layout = "~/Views/Shared/Manger.cshtml";
}

<h2>אישור טופס הרשמה</h2>

<h3>האם את/ה בטוח/ה שאת/ה רוצה לאשר את ההרשמה?</h3>
<form asp-controller="Registrations" asp-action="Yes">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">

        <input type="hidden" name="id" id="id" value=" @Html.DisplayFor(model => model.ID)" />

    </div>

    <div class="form-group">
        <input type="submit" value="אישור" class="btn btn-default" />
    </div>
    <div>
        <a asp-action="Index">חזרה לרשימה</a>
    </div>
</form>