@model Maonot_Net.Models.Registration

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Visitor.cshtml";
    string a = @ViewBag.Aut;
}

<h2>טופס הרשמה</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">


                <label asp-for="Bday" class="control-label"></label>
                <input asp-for="Bday" class="form-control" />
                <span asp-validation-for="Bday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <select asp-for="gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldOfStudy" class="control-label"></label>
                <select asp-for="FieldOfStudy" asp-items="Html.GetEnumSelectList<FieldStudy>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="FieldOfStudy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SteadyYear" class="control-label"></label>
                <select asp-for="SteadyYear" asp-items="Html.GetEnumSelectList<Year>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="SteadyYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfService" class="control-label"></label>
                <select asp-for="TypeOfService" asp-items="Html.GetEnumSelectList<Service>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="TypeOfService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthCondition" class="control-label"></label>
                <select asp-for="HealthCondition" asp-items="Html.GetEnumSelectList<HealthCondition>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="HealthCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seniority" class="control-label"></label>
                <select asp-for="Seniority" asp-items="Html.GetEnumSelectList<Year>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Seniority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApertmantType" class="control-label"></label>
                <select asp-for="ApertmantType" asp-items="Html.GetEnumSelectList<ApertmantType>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="ApertmantType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentFullName1" class="control-label"></label>
                <input asp-for="ParentFullName1" class="form-control" />
                <span asp-validation-for="ParentFullName1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentAge1" class="control-label"></label>
                <input asp-for="ParentAge1" class="form-control" />
                <span asp-validation-for="ParentAge1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentFullName2" class="control-label"></label>
                <input asp-for="ParentFullName2" class="form-control" />
                <span asp-validation-for="ParentFullName2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentAge2" class="control-label"></label>
                <input asp-for="ParentAge2" class="form-control" />
                <span asp-validation-for="ParentAge2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <table>
                    <thead>
                    <th> שם מלא</th>
                    <th>גיל </th>
                    </thead>
                    <tbody>
                    <td>
                        <input asp-for="Familym1_name " class="form-control" />
                    </td>
                    <td>
                        <input asp-for="Familym1_Age " class="form-control" />
                    </td>
                    <tr>
                        <td>
                            <input asp-for="Familym2_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym2_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym3_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym3_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym4_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym4_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym5_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym5_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym6_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym6_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym7_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym7_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym8_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym8_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        </tbody>
                </table>

            </div>
            <div class="form-group">
                <input type="submit" value="הגשת הטופס ומעבר להעלאת קבצים" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@Html.Raw(TempData["msg"])

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
