@model Maonot_Net.Models.Registration

@{
    ViewData["Title"] = "Edit";
}

<h2>עריכה</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="StundetId" class="control-label"></label>
                <input asp-for="StundetId" class="form-control" />
                <span asp-validation-for="StundetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bday" class="control-label"></label>
                <input asp-for="Bday" class="form-control" />
                <span asp-validation-for="Bday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <select asp-for="gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <p>
                ניקוד: <input onblur="findTotal()" class="control-label" type="text" name="qty" id="qty1" /><br>
            </p>
            <br />
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldOfStudy" class="control-label"></label>
                <select asp-for="FieldOfStudy" asp-items="Html.GetEnumSelectList<FieldStudy>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="FieldOfStudy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SteadyYear" class="control-label"></label>
                <select asp-for="SteadyYear" asp-items="Html.GetEnumSelectList<Year>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="SteadyYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfService" class="control-label"></label>
                <select asp-for="TypeOfService" asp-items="Html.GetEnumSelectList<Service>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="TypeOfService" class="text-danger"></span>
            </div>
            <input onblur="findTotal()" type="text" name="qty" id="qty1" /><br>

            <div class="form-group">
                <label asp-for="HealthCondition" class="control-label"></label>
                <select asp-for="HealthCondition" asp-items="Html.GetEnumSelectList<HealthCondition>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="HealthCondition" class="text-danger"></span>
                <input onblur="findTotal()" type="text" name="qty" id="qty2" /><br>

            </div>
            <div class="form-group">
                <label asp-for="Seniority" class="control-label"></label>
                <select asp-for="Seniority" asp-items="Html.GetEnumSelectList<Year>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Seniority" class="text-danger"></span>
                <input onblur="findTotal()" type="text" name="qty" id="qty3" /><br>

            </div>
            <div class="form-group">
                <label asp-for="ApertmantType" class="control-label"></label>
                <select asp-for="ApertmantType" asp-items="Html.GetEnumSelectList<ApertmantType>()" class="form-control">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="ApertmantType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentID1" class="control-label"></label>
                <input asp-for="ParentID1" class="form-control" />
                <span asp-validation-for="ParentID1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentFullName1" class="control-label"></label>
                <input asp-for="ParentFullName1" class="form-control" />
                <span asp-validation-for="ParentFullName1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ParentAge1" class="control-label"></label>
                <input asp-for="ParentAge1" class="form-control" />
                <span asp-validation-for="ParentAge1" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ParentID2" class="control-label"></label>
                <input asp-for="ParentID2" class="form-control" />
                <span asp-validation-for="ParentID2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentFullName2" class="control-label"></label>
                <input asp-for="ParentFullName2" class="form-control" />
                <span asp-validation-for="ParentFullName2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ParentAge2" class="control-label"></label>
                <input asp-for="ParentAge2" class="form-control" />
                <span asp-validation-for="ParentAge2" class="text-danger"></span>

            </div>

            <div class="form-group">
                <table>
                    <thead>
                    <th> שם מלא</th>
                    <th>גיל </th>
                    </thead>
                    <tbody>
                    <td>
                        <input asp-for="Familym1_name " class="form-control" />
                    </td>
                    <td>
                        <input asp-for="Familym1_Age " class="form-control" />
                    </td>
                    <tr>
                        <td>
                            <input asp-for="Familym2_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym2_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym3_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym3_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym4_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym4_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym5_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym5_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym6_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym6_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym7_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym7_Age " class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Familym8_name " class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Familym8_Age " class="form-control" />
                        </td>
                    </tr>

                    </tbody>


                </table>

            </div>


            <input onblur="findTotal()" type="text" name="qty" id="qty4" /><br>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" name="total" id="total" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="שמור" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>


<a href="@Url.Action("SeeFiles", "FileUpload")" target="_blank"> צפייה בקבצים</a>
<a href="@Url.Action("Index_2", "FileUpload")" target="_blank"> הוספת קבצים נוספים</a>
            </br>




<div>
    <a asp-action="Index">חזרה לרשומות</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    function findTotal() {
        var arr = document.getElementsByName('qty');
        var tot = 0;
        for (var i = 0; i < arr.length; i++) {
            if (parseInt(arr[i].value))
                tot += parseInt(arr[i].value);
        }
        document.getElementById('total').value = tot;
    }

</script>