@model PaginatedList<Maonot_Net.Models.Registration>
@{
    ViewData["Title"] = "Index";

}

<h2>Index</h2>
<a asp-action="Index_Single_Male"> request by men</a><br />
<a asp-action="Index_Single_Female"> request by Women</a><br />
 <a asp-action="Index_Couples">request by couples</a><br />




