@model PaginatedList<Maonot_Net.Models.Registration>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Manger.cshtml";

}

<h2>רשומות</h2>
<a asp-action="Index_Single_Male">בקשות גברים | יחיד</a> מספר בקשות: @ViewBag.cM <br />
<a asp-action="Index_Single_Female"> בקשות נשים | יחיד</a>  מספר בקשות: @ViewBag.cF<br />
<a asp-action="Index_Couples">בקשות לדירת זוגות</a>  מספר בקשות: @ViewBag.cC<br />




