@model PaginatedList<Maonot_Net.Models.Registration>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Manger.cshtml";

}

<h2>רשומות</h2>
<a asp-action="Index_Single_Male"class="btn btn-default">בקשות גברים | יחיד</a> מספר בקשות: @ViewBag.cM <br /><br />
<a asp-action="Index_Single_Female"class="btn btn-default"> בקשות נשים | יחיד</a>  מספר בקשות: @ViewBag.cF<br /><br />
<a asp-action="Index_Couples"class="btn btn-default">בקשות לדירת זוגות</a>  מספר בקשות: @ViewBag.cC<br /><br />




