
@{
    ViewData["Title"] = "Upload";
}

<h2>Upload</h2>
<form name="form" action="/Registrations" enctype="multipart/form-data" method="post">
    <input id="files" name="files"type="file" multiple onchange="fileupload('files');"/>


</form>
<script>
    function fileupload(filename) {
        var inputfile = document.getElementById(filename);
        var files = inputfile.files;
        var fdata = new FormData();
        for (var i = 0; i != files.length; i++) {
            fdata.append("files", files[i]);

        }
        $.ajax(
            {
                url:"/Registrations",
                data: fdata,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    alert("הקבצים העלאו בהצלחה");

                }

            }
        );

    }

</script>
