@model Maonot_Net.Models.User

@{
    ViewData["Title"] = "EDIT";

    var a = ViewBag.Aut;
    if (a.Equals("1"))
    {
        Layout = "~/Views/Shared/Admin.cshtml";
    }
    else if (a.Equals("2"))
    {
        Layout = "~/Views/Shared/Manger.cshtml";
    }
    else if (a.Equals("3"))
    {
        Layout = "~/Views/Shared/HouseKeep.cshtml";
    }
    else if (a.Equals("4"))
    {
        Layout = "~/Views/Shared/Discipline.cshtml";
    }
    else if (a.Equals("5"))
    {
        Layout = "~/Views/Shared/Culture.cshtml";
    }
    else if (a.Equals("6"))
    {
        Layout = "~/Views/Shared/Security.cshtml";
    }
    else if (a.Equals("7"))
    {
        Layout = "~/Views/Shared/Visitor.cshtml";
    }
    else if (a.Equals("8"))
    {
        Layout = "~/Views/Shared/Candidate.cshtml";
    }
    else if (a.Equals("9"))
    {
        Layout = "~/Views/Shared/Tenant.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/NotUser.cshtml";
    }
}

<h2>עריכה</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EDIT">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="StundetId" class="control-label"></label>
                <input asp-for="StundetId" class="form-control" />
                <span asp-validation-for="StundetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="Password" />
                @*<label asp-for="Password" class="control-label"></label>
               <input asp-for="Password" class="form-control" />
            Html.TextBoxFor(Model => Model.Password, new { @class = "form-control make-pass" })*@

            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @{
                if (a.Equals("1"))
                {
                    <div class="form-group">
                        <label asp-for="Authorization" class="control-label"></label>
                        <select asp-for="Authorization" class="form-control" asp-items="ViewBag.Authorization"></select>
                        <span asp-validation-for="Authorization" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="Authorization" />
                }
            }

            <div class="form-group">
                <input type="submit" value="שמירה" class="btn btn-success" />
                @{
                    if (a.Equals("1"))
                    {
                        <a asp-action="Index" class="btn btn-default">בחזרה לרשימה</a>
                    }
                }

            </div>
        </form>
    </div>
</div>


