@model Maonot_Net.Models.User

@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/NotUser.cshtml";
}

<h2>התחברות למערכת מעונות-נט</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StundetId" class="control-label"></label>
                <input asp-for="StundetId" class="form-control" />

            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />

            </div>

            <div class="form-group">
                <input type="submit" value="התחבר" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">חזרה למסך פתיחה</a>
</div>
@Html.Raw(TempData["msg2"])
@Html.Raw(TempData["msg1"])


