
@{
    ViewData["Title"] = "ConifiremSigniture";
    var a = ViewBag.Aut;
    if (a.Equals("9"))
    {
        Layout = "~/Views/Shared/Tenant.cshtml";
    }

}

<h2>ConifiremSigniture</h2>
חתמת בהצלחה על האורח
@ViewBag.id



