@model Maonot_Net.Models.VisitorsLog

@{
    ViewData["Title"] = "Signature";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var item = Model;
}

<h2>Signature</h2>
<div class="row">
    <div class="col-md-4">
        בתאריך @Html.DisplayFor(model => model.EnteryDate)
        @Html.DisplayFor(model => model.VistorName)  התארח אצלך אורח בשם
        ונשאר/ה מעבר ל00:00, לכן נדרשת חתימה.

        <div class="row">
            <div class="col-md-4">
                <form asp-controller="VisitorsLogs" asp-action="ConifiremSigniture">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        שם משתמש
                        <input type="text" name="StudentId" id="StudentId" />

                    </div>

                    <div class="form-group">
                        סיסמא:
                        <input type="text" name="password" id="password" />

                    </div>

                    <div class="form-group">
                        לוג:
                        <input type="text" name="id" id="id" value=" @Html.DisplayFor(model => model.Id)" />

                    </div>

                    <div class="form-group">
                        <input type="submit" value="חתימה" class="btn btn-default" />
                    </div>
                </form>
            </div>




            <a asp-controller="VisitorsLogs" asp-action="Signature" asp-route-id="@item.Id">חתום</a>

        </div>
    </div>

